// Bootstrap brand color customization

//DPWH CHANGE BRAND COLOR
//SELECT COLORS TO _colors.csss


/*     brand Colors              */


$brand-primary:              $green-800 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $indigo-400 !default;
$brand-default:              $gray-color !default;
$brand-secondary:            $orange-500 !default;
$brand-hover:                $indigo-100 !default;